/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  // background-color: #f5f5f5;
}
/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: rgba($color: #2ec5d8, $alpha: 0.2);
}
/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba($color: #2ec5d8, $alpha: 1);
}
body {
  overflow: hidden;
}
.flex {
  display: flex;
}
.justify-sb {
  display: flex;
  justify-content: space-between;
}
.aic {
  display: flex;
  align-items: center;
}
.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../images/bg.jpg') center no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 107px;
  z-index: 2;
  padding: 20px;
  color: #fff;
  background: -moz-linear-gradient(
    top,
    rgba(12, 29, 65, 0.6) 0%,
    rgba(12, 29, 65, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(12, 29, 65, 0.6) 0%,
    rgba(12, 29, 65, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(12, 29, 65, 0.6) 0%,
    rgba(12, 29, 65, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800c1d41', endColorstr='#000c1d41',GradientType=0 ); /* IE6-9 */
}
.user__avatar {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.user__name {
  margin-left: 13px;
  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.4);
    vertical-align: -3px;
    margin-left: 5px;
  }
}
.user__fullscreen {
  width: 34px;
  height: 34px;
  margin-left: 35px;
  background: rgba(255, 255, 255, 0.4) url('../images/fullscreen.png') center
    no-repeat;
  border-radius: 30px;
  cursor: pointer;
}

.catalogue {
  position: absolute;
  left: 10px;
  top: 110px;
  width: 300px;
  height: calc(100% - 170px);
  padding: 10px;
  z-index: 2;
  color: #fff;
  background: rgba(16, 39, 87, 0.9);
  overflow-y: auto;
  border-radius: 10px;
}

.catalogue__title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 18px;

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: url('../images/zhuantiicon.png');
    vertical-align: -3px;
  }
}

.menu__mine {
  span {
    display: inline-block;
    width: 84px;
    height: 45px;
    padding: 5px 0;
    background: rgba($color: #3a91ba, $alpha: 0.3);
    border: 1px solid rgba($color: #51edff, $alpha: 0.3);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    color: #50b8f0;

    &:hover {
      background: rgba($color: #3a91ba, $alpha: 0.5);
      border: 1px solid rgba($color: #51edff, $alpha: 0.5);
    }
  }
}

.menu__list {
  margin-top: 20px;
}

.menu__item {
  margin-bottom: 20px;
}
.menu__item__title {
  justify-content: space-between;
  input[type='radio'] {
    margin-right: 10px;
  }

  & > i {
    display: inline-block;
    border: 5px solid transparent;
    border-top-color: rgba($color: #9ff5ff, $alpha: 0.8);
    vertical-align: -3px;
    margin-left: 5px;
  }
}

.landscape {
  padding: 0 15px;
  label {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 63px;
    border-radius: 8px;
    margin-top: 15px;

    img {
      width: 100%;
    }
    input {
      opacity: 0;
      transition: opacity ease-in-out 0.3s;
    }
    input:checked {
      opacity: 1;
    }

    &:hover {
      input {
        opacity: 1;
      }
    }
    &:nth-child(odd) {
      margin-right: 10px;
    }
  }
}
.landscape__item-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 7px;
}

.map-tools {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 40px;
}
.monitor {
  span {
    display: inline-block;
    width: 62px;
    height: 62px;
    background: #fff url('../images/camare.png') center no-repeat;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 4px;
    cursor: pointer;

    &.view720 {
      background-image: url('../images/view720.png');
    }

    & + span {
      margin-left: 10px;
    }
  }
}

.pop {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 50%;
  padding: 20px;
  background: rgba(16, 39, 87, 0.9);
  color: #fff;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
  border-radius: 10px;
  transition: all cubic-bezier(0, 0.82, 0.16, 0.99) 0.3s;
  transform: translateX(0);
  opacity: 0;
  animation: popAnim 0.3s cubic-bezier(0, 0.82, 0.16, 0.99) 0.1s forwards;

  &.open {
    transform: translateX(0);
  }
}
@keyframes popAnim {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.pop__title {
  font-size: 18px;
  justify-content: space-between;
  margin-bottom: 30px;
  i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/guanbi.png') center no-repeat;
    cursor: pointer;
  }
}

.locations__total {
  text-align: center;
  width: 150px;
  height: 132px;
  font-size: 18px;
  margin-right: 30px;
  background: url('../images/location.png') center no-repeat;
  p {
    margin-bottom: 5px;
  }
  strong {
    font-size: 26px;
    color: #32eafa;
  }
  span {
    color: #32eafa;
  }
}

.total-distance {
  padding-top: 10px;
  margin: 0 25px 0 15px;
  background: url('../images/total_distance_bg.png') center no-repeat;
}

.locations__list {
  flex: 1;
  span {
    display: inline-block;
    width: 129px;
    line-height: 32px;
    margin: 0 0 10px 10px;
    background: rgba(58, 145, 186, 0.3);
    border: 1px solid rgba(81, 237, 255, 0.3);
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background ease-in-out 0.3s, color ease-in-out 0.3s;
    transition: background ease-in-out 0.3s, color ease-in-out 0.3s;
    color: #50b8f0;

    &.active,
    &:hover {
      background-color: #50b8f0;
      color: #fff;
    }
  }
}
.left-item__intro {
  margin-top: 20px;
  border-top: 1px dashed #326d9e;
  h3 {
    font-size: 18px;
    font-weight: normal;
    padding: 15px 0;
  }
}
.swiper-container {
  width: 272px;
  height: 210px;
}
.infors {
  flex: 1;
  height: 210px;
  overflow-y: auto;
  margin-left: 20px;
  line-height: 1.5;
  text-indent: 2em;

  p {
    margin-bottom: 10px;
  }
}

.chart__tab {
  li {
    height: 60px;
    width: 210px;
    padding-left: 20px;
    cursor: pointer;
    &.active,
    &:hover {
      background: -webkit-linear-gradient(
        left,
        rgba(16, 176, 190, 0) 0%,
        rgba(16, 176, 190, 0.3) 40%,
        rgba(16, 176, 190, 0.3) 60%,
        rgba(16, 176, 190, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(16, 176, 190, 0) 0%,
        rgba(16, 176, 190, 0.3) 40%,
        rgba(16, 176, 190, 0.3) 60%,
        rgba(16, 176, 190, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0010b0be', endColorstr='#0010b0be',GradientType=1 ); /* IE6-9 */
    }

    i {
      display: inline-block;
      width: 44px;
      height: 44px;
      margin-right: 10px;
    }
    &:first-child {
      i {
        background: url('../images/luhua.png') center;
      }
    }
    &:nth-child(2) {
      i {
        background: url('../images/huanjing.png') center;
      }
    }
    &:nth-child(3) {
      i {
        background: url('../images/wushui.png') center;
      }
    }
    &:nth-child(4) {
      i {
        background: url('../images/chongdianzhuang.png') center;
      }
    }
  }
  .chart__data {
    div {
      margin-top: 5px;
      color: #51edff;
      strong {
        font-size: 20px;
      }
    }
  }
}

.chart__tab--140 {
  li {
    width: 140px;
    padding-left: 30px;
  }
}

.chart__content {
  margin-left: 20px;
  width: 250px;
  height: 230px;
}

.cbs__tab {
  justify-content: space-between;
  border-bottom: 1px dashed #326d9e;
  li {
    padding: 0 20px 20px;
    cursor: pointer;
    &.active,
    &:hover {
      background: -moz-linear-gradient(
        top,
        rgba(50, 234, 250, 0) 0%,
        rgba(50, 234, 250, 0.4) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(50, 234, 250, 0) 0%,
        rgba(50, 234, 250, 0.4) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(50, 234, 250, 0) 0%,
        rgba(50, 234, 250, 0.4) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0032eafa', endColorstr='#6632eafa',GradientType=0 ); /* IE6-9 */
    }
    & > i {
      display: inline-block;
      width: 56px;
      height: 56px;
      background: url('../images/cbs_tab01.png') center no-repeat;
    }
    .cbs__tab-info {
      margin-left: 12px;
      color: #32eafa;
      p {
        color: #fff;
        margin-bottom: 5px;
      }
      strong {
        font-size: 30px;
      }
    }

    &:nth-child(2) {
      & > i {
        background: url('../images/cbs_tab02.png') center no-repeat;
      }
    }

    &:nth-child(3) {
      & > i {
        background: url('../images/cbs_tab03.png') center no-repeat;
      }
    }

    &:nth-child(4) {
      & > i {
        background: url('../images/cbs_tab04.png') center no-repeat;
      }
    }
  }
}

.other__tab {
  padding: 15px 0;
  justify-content: space-between;

  span {
    font-size: 18px;
    color: #57bbde;
    padding: 0 15px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #57bbde;
    border-radius: 4px;
    cursor: pointer;

    &.active {
      background: #57bbde;
      color: #fff;
    }
  }
}

.service-table {
  background: #132245;
  width: 100%;
  td,
  th {
    color: #31e1f2;
    padding: 8px 10px;
    border: 1px solid rgba($color: #0b6467, $alpha: 0.5);
  }
  th {
    font-weight: bold;
  }
}

.cbs__build-intro {
  text-indent: 2em;
  line-height: 1.5;
  max-height: 210px;
  overflow-y: auto;
  flex: 1;
  margin-left: 20px;
}

.anchor-list {
  justify-content: space-around;
  margin-top: 30px;

  .anchor {
    width: 128px;
    height: 180px;
    background: url('../images/anchor_bgpng.png') 0 30px no-repeat;
    text-align: center;
    .pic {
      width: 90px;
      height: 90px;
      padding: 5px;
      border-radius: 100px;
      border: 1px solid rgba($color: #2ec5d8, $alpha: 0.4);
      margin: 0 auto 20px;
      img {
        width: 100%;
      }
    }

    .info {
      span {
        display: inline-block;
        margin-top: 5px;
        color: #2ec5d8;
      }
    }
  }
}

.cbs-chart {
  height: 260px;
  width: 610px;
}

// 安全保障
.es__tab {
  flex-wrap: wrap;

  li {
    padding: 0 0 0 23px;
    width: 175px;
    height: 73px;
    margin-bottom: 10px;
    &.active,
    &:hover {
      background: -webkit-linear-gradient(
        left,
        rgba(16, 176, 190, 0) 0%,
        rgba(16, 176, 190, 0.3) 40%,
        rgba(16, 176, 190, 0.3) 60%,
        rgba(16, 176, 190, 0) 100%
      );
      background: linear-gradient(
        to right,
        rgba(16, 176, 190, 0) 0%,
        rgba(16, 176, 190, 0.3) 40%,
        rgba(16, 176, 190, 0.3) 60%,
        rgba(16, 176, 190, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0010b0be', endColorstr='#0010b0be',GradientType=1 ); /* IE6-9 */
    }
    & > i {
      background: url('../images/es_icon01.png') center no-repeat;
    }
    &:nth-child(2) {
      & > i {
        background: url('../images/es_icon02.png') center no-repeat;
      }
    }

    &:nth-child(3) {
      & > i {
        background: url('../images/es_icon03.png') center no-repeat;
      }
    }

    &:nth-child(4) {
      & > i {
        background: url('../images/es_icon04.png') center no-repeat;
      }
    }
    &:nth-child(5) {
      & > i {
        background: url('../images/es_icon05.png') center no-repeat;
      }
    }
    &:nth-child(6) {
      & > i {
        background: url('../images/es_icon06.png') center no-repeat;
      }
    }
  }
}

.navigation-mark-info {
  flex: 1;
  margin-left: 50px;
  color: #32eafa;
  font-size: 16px;
}
.navigation-mark-info__title {
  padding-bottom: 10px;
  border-bottom: 1px solid #22698c;
  margin-bottom: 15px;

  strong {
    font-size: 26px;
    margin-right: 5px;
  }
}
.navigation-mark-info__detail {
  
  div {
    margin-top: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
    span {
      margin-bottom: 10px;
    }
  }
  
}

.live-mark-info {
  margin-left: 50px;
  color: #32eafa;
  font-size: 16px;
  & > p {
    margin-bottom: 20px;
  }
  .x-title {
    font-size: 14px;
    color: #70acde;
  }
  strong {
    font-size: 22px;
  }
}

.mark-chart {
  justify-content: space-around;
  .chart-warp {
    position: relative;
    background: url('../images/mark-chart-bg.png') center bottom no-repeat;
    p {
      position: absolute;
      top: 10%;
      width: 100%;
      text-align: center;
      color: #32eafa;
      font-size: 16px;
    }
  }
  div {
    width: 180px;
    height: 240px;
  }
}
.course-rate {
  height: 260px;
}
.work-state-tab {
  li {
    padding: 0 10px 20px;
    &:nth-child(1) {
      & > i {
        background: url('../images/work_state01.png') center no-repeat;
      }
    }
    &:nth-child(2) {
      & > i {
        background: url('../images/work_state02.png') center no-repeat;
      }
    }

    &:nth-child(3) {
      & > i {
        background: url('../images/work_state03.png') center no-repeat;
      }
    }

    &:nth-child(4) {
      & > i {
        background: url('../images/work_state04.png') center no-repeat;
      }
    }
  }
}

.work-state-charts {
  align-items: stretch;
  padding-top: 15px;

  .conservation {
    width: 280px;
    height: 270px;
  }
  .progress {
    flex: 1;
  }
}

.demo-course {
  width: 214px;
  color: RGBA(49, 222, 240, 1);
  background: url('../images/demo_course_icon.png') center bottom no-repeat;
}
.demo-course__chart {
  display: flex;
  flex: 1;
  justify-content: space-around;
  .cahrt-wrap {
    color: #32eafa;
    div {
      width: 95px;
      height: 95px;
      margin-bottom: 5px;
    }
  }
}

.videos {
  justify-content: space-between;
  padding: 15px 10px;
  border-bottom: 1px dashed #326d9e;
  margin-bottom: 20px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 160px;
    background-color: rgba($color: #000, $alpha: 0.2);
  }
}
