@charset "UTF-8";
/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/*定义滚动条轨道
  内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: rgba(46, 197, 216, 0.2);
}

/*定义滑块
  内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2ec5d8;
}

body {
  overflow: hidden;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.justify-sb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 107px;
  z-index: 2;
  padding: 20px;
  color: #fff;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 29, 65, 0.6)), to(rgba(12, 29, 65, 0)));
  background: linear-gradient(to bottom, rgba(12, 29, 65, 0.6) 0%, rgba(12, 29, 65, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800c1d41', endColorstr='#000c1d41',GradientType=0 );
  /* IE6-9 */
}

.user__avatar {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.user__name {
  margin-left: 13px;
  cursor: pointer;
}

.user__name::after {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.4);
  vertical-align: -3px;
  margin-left: 5px;
}

.user__fullscreen {
  width: 34px;
  height: 34px;
  margin-left: 35px;
  background: rgba(255, 255, 255, 0.4) url("../images/fullscreen.png") center no-repeat;
  border-radius: 30px;
  cursor: pointer;
}

.catalogue {
  position: absolute;
  left: 10px;
  top: 110px;
  width: 300px;
  height: calc(100% - 170px);
  padding: 10px;
  z-index: 2;
  color: #fff;
  background: rgba(16, 39, 87, 0.9);
  overflow-y: scroll;
  border-radius: 10px;
}

.catalogue__title {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0 18px;
}

.catalogue__title::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background: url("../images/zhuantiicon.png");
  vertical-align: -3px;
}

.menu__mine span {
  display: inline-block;
  width: 84px;
  height: 45px;
  padding: 5px 0;
  background: rgba(58, 145, 186, 0.3);
  border: 1px solid rgba(81, 237, 255, 0.3);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #50b8f0;
}

.menu__mine span:hover {
  background: rgba(58, 145, 186, 0.5);
  border: 1px solid rgba(81, 237, 255, 0.5);
}

.menu__list {
  margin-top: 20px;
}

.menu__item {
  margin-bottom: 20px;
}

.menu__item__title {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item__title input[type='checkbox'] {
  margin-right: 10px;
}

.menu__item__title i {
  content: '';
  display: inline-block;
  border: 5px solid transparent;
  border-top-color: rgba(159, 245, 255, 0.8);
  vertical-align: -3px;
  margin-left: 5px;
}

.landscape {
  padding: 0 15px;
}

.landscape label {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 63px;
  border-radius: 8px;
  margin-top: 15px;
}

.landscape label img {
  width: 100%;
}

.landscape label input {
  opacity: 0;
  -webkit-transition: opacity ease-in-out 0.3s;
  transition: opacity ease-in-out 0.3s;
}

.landscape label input:checked {
  opacity: 1;
}

.landscape label:hover input {
  opacity: 1;
}

.landscape label:nth-child(odd) {
  margin-right: 10px;
}

.landscape__item-title {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 7px;
}

.map-tools {
  position: absolute;
  z-index: 2;
  right: 20px;
  bottom: 40px;
}

.monitor span {
  display: inline-block;
  width: 62px;
  height: 62px;
  background: #fff url("../images/camare.png") center no-repeat;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.monitor span.view720 {
  background-image: url("../images/view720.png");
}

.monitor span + span {
  margin-left: 10px;
}

.pop {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 50%;
  padding: 20px;
  background: rgba(16, 39, 87, 0.9);
  color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 0;
  -webkit-animation: popAnim 0.3s cubic-bezier(0, 0, 0.59, 1) 0.1s forwards;
          animation: popAnim 0.3s cubic-bezier(0, 0, 0.59, 1) 0.1s forwards;
}

.pop.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@-webkit-keyframes popAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes popAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.pop__title {
  font-size: 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.pop__title i {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../images/guanbi.png") center no-repeat;
  cursor: pointer;
}

.locations__total {
  text-align: center;
  width: 150px;
  height: 132px;
  font-size: 18px;
  margin-right: 30px;
  background: url("../images/location.png") center no-repeat;
}

.locations__total p {
  margin-bottom: 5px;
}

.locations__total strong {
  font-size: 26px;
  color: #32eafa;
}

.locations__total span {
  color: #32eafa;
}

.locations__list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.locations__list span {
  display: inline-block;
  width: 129px;
  line-height: 32px;
  margin: 0 0 10px 10px;
  background: rgba(58, 145, 186, 0.3);
  border: 1px solid rgba(81, 237, 255, 0.3);
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #50b8f0;
}

.left-item__intro {
  margin-top: 20px;
  border-top: 1px dashed #326d9e;
}

.left-item__intro h3 {
  font-size: 18px;
  font-weight: normal;
  padding: 15px 0;
}

.swiper-container {
  width: 272px;
  height: 210px;
}

.infors {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 210px;
  overflow-y: scroll;
  margin-left: 20px;
  line-height: 1.5;
  text-indent: 2em;
}

.infors p {
  margin-bottom: 10px;
}

.chart__tab li {
  height: 60px;
  width: 210px;
  padding-left: 20px;
  cursor: pointer;
}

.chart__tab li.active, .chart__tab li:hover {
  background: url("../images/tabbg.png") center no-repeat;
}

.chart__tab li i {
  display: inline-block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.chart__tab li:first-child i {
  background: url("../images/luhua.png") center;
}

.chart__tab li:nth-child(2) i {
  background: url("../images/huanjing.png") center;
}

.chart__tab li:nth-child(3) i {
  background: url("../images/wushui.png") center;
}

.chart__tab li:nth-child(4) i {
  background: url("../images/chongdianzhuang.png") center;
}

.chart__tab .chart__data div {
  margin-top: 5px;
  color: #51edff;
}

.chart__tab .chart__data div strong {
  font-size: 20px;
}

.chart__content {
  margin-left: 20px;
  width: 270px;
  height: 230px;
}
/*# sourceMappingURL=style.css.map */